@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    background: #fff;
    font-weight: 400;
    min-width: 340px;
    overflow-x: hidden;
    color: #000;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
  }
}
